<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.directwebremoting.org/schema/spring-dwr  
	http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd  
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/aop 
 	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
 	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
 	<bean id="helloSpringService" class="com.zgh.spring.ioc.container.service.HelloWorldSpringService">
 		<property name="stringText" value="Hello! This is Field Stringtext Value!" />
		<property name="stringValue" value="Hello! This is Field stringValue Text!" />
 	</bean>
 	<bean id="cloudService" class="com.zgh.spring.ioc.container.service.CloudService">
 		<property name="cloudServiceText">
					<value>Do Cloud Service ...</value>
		</property>
		<property name="helloWorldSpringService" ref="helloSpringService"></property>
		<property name="userService" ref="userService"></property>
 	</bean>
 	<bean id="userService" class="com.zgh.spring.ioc.container.service.UserService">
 		<property name="userName" value="风清扬"/>
 	</bean>
</beans>  
